@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
font-family: IBM Plex Sans;
background-image: url(./assets/bg-main-mobile.png);
background-position: top -250px left 0px;
background-repeat: no-repeat;
}

.different-figures{
display:none;
transform: translate(65px,-90px);    
}

.main-container{
display: flex;
align-items: center;
flex-direction: column;   

}

header{
margin:40px 24px 68px 24px;
display:flex;
}

.equalizer-picture{
margin-bottom:64px;    
}

h1{
font-size: 40px;
font-weight: 700;
line-height: 48px;
padding-bottom:20px;
max-width:387px; 
}

.text{
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.header-text{
max-width:331px;
}

.middle-background{
background: #191826;
text-align: center;
border-radius: 12px;
width:100%;
}

.mobile{
width:209px;
height:430px;
margin-bottom: -370px;
z-index: 1;
}

.Premium-EQ{
background:#FA7453;
border-radius: 12px;    
Height:546px;
color: #FCFAF9;
margin-top:-50px;
padding-left: 36px;
}

.Premium-EQ-header{
font-size: 32px;
font-weight: 700;
line-height: 40px;
padding-bottom:12px;
padding-top:48px;
}

.Premium-EQ-text{
font-size: 18px;
font-weight: 400;
line-height: 28px;
margin-bottom:45px;
}

.price{
margin-bottom:32px;
}

.price4{
font-size: 65px;
font-weight: 700;
line-height: 52px;
}

.month{
font-size: 20px;
font-weight: 400;
line-height: 32px;
}

.buttons{
max-width:595px;
}

.apple-button{
width: 296px;
height: 61px;
background: #191826;
color:white;
border-radius: 12px;
Font:IBM Plex Sans;
font-Weight:700;
font-Size:18px;
Line-height:32px;
margin-bottom: 16px;
}

.android-button{
width: 296px;
height:61px;
background: #FCFAF9;
border-radius: 12px;
Font:IBM Plex Sans;
font-Weight:700;
font-Size:18px;
Line-height:32px;
}

.apple-icon{
margin-bottom:-3px;
margin-right:8px;
}

.android-icon{
margin-bottom:-3px;
margin-right:8px;
}

footer{
height:397px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 25px;    
}

.equalizer-picture-2{
padding-bottom:32px;    
}

.footer-text{
max-width: 298px;
}

.social-media {
display: flex;
column-gap: 20px;
padding-top: 66px;
}

.social-media i{
font-size:20px;
}

.social-media i:hover{
color:#FA7453;
}

.apple-button:hover{
background:#66E2DC;    
}

.android-button:hover{
background:#FFB964;    
}

@media (min-width: 768px){

body{   
background-image: url(./assets/bg-main-tablet.png);
background-position: top -250px left -340px;
background-repeat: no-repeat;
}

.different-figures{
display:block;    
}

.equalizers-top-div{
margin-left:39px;    
}

h1{
font-weight: 700;
font-size: 64px;
line-height: 64px;
max-width: 520px
}

.header-text{
max-width:514px;    
}

.text{
font-size:18px;
}

.middle-background{
height: 600px;
width: 90%;
border-radius: 12px;
margin-left:33px;    
}

.mobile{
margin-right: 305px;
Width: 270.21px;
Height: 556px;
margin-bottom: -435px 
}

.Premium-EQ{
margin-top: -430px;
margin-left: 170px;
z-index:1;
width:399px;
height:546px;
}
footer{
padding: 39px;
margin-left: 34px;
}

.social-media i{
font-size:30px;    
}

.footer-text{
max-width: 363px;
}

.social-media{
display: flex;
column-gap: 20px;
align-items: center;
padding-top:0;   
}

.info{
display: flex;
flex-direction: row;
max-width: 43.5rem;
gap: 14rem;
margin: 2rem 0 5rem;
}    
}



@media (min-width: 1440px){

body{
background-image: url(./assets/bg-main-desktop.png);
background-position: top -250px left -340px;
background-repeat: no-repeat;    
}

h1 {
font-weight: 700;
font-size: 88px;
line-height: 88px;
max-width: 1015px;
}

.header-text{
max-width: 825px;    
}

.different-figures {
transform: translateY(-83px);
}

.Premium-EQ {
margin-top: -470px;
margin-left: 590px;
}

.mobile{
margin-right: 394px;    
}

footer{
display: flex;
flex-direction: row;
align-items: center;     
}

.footer-text{
max-width:366px ;    
}

.info{
max-width:1000px;
width:1000px;
display: flex;
justify-content:space-between;    
}

.equalizer-picture-2{
margin-right:150px;    
}
}